{% extends 'base.html' %}


{% block banner %}
<header>
  <nav id="searchbar">
    <form method="post" id="search-form">
      <p>
        <span id="logo">
          <a href="/">Lucid RSS</a>
        </span>

        <input name="URL" id="URL" placeholder="Enter a URL..." required>
        <button type="submit" name="delete" value="go">Go!</button>
      </p>
    </form>
  </nav>
</header>
{% endblock %}


{% block content %}
<ul id="feed-list">
{% for feed in feeds %}
    <li class="feed-item">
      <form method="post">
        <button type="submit" name="delete" value="{{ feed['name'] }}">x</button>
        <div class="feed-name">{{ feed['name'] }}</div>
        <a href="{{ feed['url'] }}" class="feed-item-url">{{ feed['url'] }}</a>
      </form>
    </li>
{% endfor %}
</ul>
{% endblock %}
